@font-face {
  font-family: 'fontello';
  src: url('../../font/fontello/fontello.eot?45887099');
  src: url('../../font/fontello/fontello.eot?45887099#iefix') format('embedded-opentype'),
       url('../../font/fontello/fontello.woff?45887099') format('woff'),
       url('../../font/fontello/fontello.ttf?45887099') format('truetype'),
       url('../../font/fontello/fontello.svg?45887099#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../font/fontello/fontello.svg?45887099#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-forward:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-right-circled:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-video:before { content: '\e80b'; } /* '' */
.icon-th-large:before { content: '\e80c'; } /* '' */
.icon-th:before { content: '\e80d'; } /* '' */
.icon-th-list:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-ok-circle:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-cancel-circle:before { content: '\e812'; } /* '' */
.icon-plus-circle:before { content: '\e813'; } /* '' */
.icon-minus-circle:before { content: '\e814'; } /* '' */
.icon-link:before { content: '\e815'; } /* '' */
.icon-attach:before { content: '\e816'; } /* '' */
.icon-logout:before { content: '\e817'; } /* '' */
.icon-lock-1:before { content: '\e818'; } /* '' */
.icon-cog:before { content: '\e819'; } /* '' */
.icon-rss-alt:before { content: '\e81a'; } /* '' */
.icon-rss:before { content: '\e81b'; } /* '' */
.icon-archive:before { content: '\e81c'; } /* '' */
.icon-folder:before { content: '\e81d'; } /* '' */
.icon-docs-landscape:before { content: '\e81e'; } /* '' */
.icon-doc:before { content: '\e81f'; } /* '' */
.icon-location:before { content: '\e820'; } /* '' */
.icon-attention:before { content: '\e821'; } /* '' */
.icon-chat:before { content: '\e822'; } /* '' */
.icon-comment-alt:before { content: '\e823'; } /* '' */
.icon-comment:before { content: '\e824'; } /* '' */
.icon-retweet:before { content: '\e825'; } /* '' */
.icon-code:before { content: '\e826'; } /* '' */
.icon-reply-all:before { content: '\e827'; } /* '' */
.icon-tag:before { content: '\e828'; } /* '' */
.icon-lock-open:before { content: '\e829'; } /* '' */
.icon-clock:before { content: '\e82a'; } /* '' */
.icon-block:before { content: '\e82b'; } /* '' */
.icon-progress-0:before { content: '\e82c'; } /* '' */
.icon-progress-1:before { content: '\e82d'; } /* '' */
.icon-vkontakte-rect:before { content: '\e82e'; } /* '' */
.icon-linkedin-rect:before { content: '\e82f'; } /* '' */
.icon-skype:before { content: '\e830'; } /* '' */
.icon-progress-2:before { content: '\e831'; } /* '' */
.icon-progress-3:before { content: '\e832'; } /* '' */
.icon-youtube:before { content: '\e833'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e834'; } /* '' */
.icon-progress-4:before { content: '\e835'; } /* '' */
.icon-progress-5:before { content: '\e836'; } /* '' */
.icon-left-open:before { content: '\e837'; } /* '' */
.icon-popup:before { content: '\e838'; } /* '' */
.icon-resize-full-circle:before { content: '\e839'; } /* '' */
.icon-resize-full:before { content: '\e83a'; } /* '' */
.icon-reply:before { content: '\e83b'; } /* '' */
.icon-right-open:before { content: '\e83c'; } /* '' */
.icon-progress-6:before { content: '\e83d'; } /* '' */
.icon-down-circle:before { content: '\e83e'; } /* '' */
.icon-left-circle:before { content: '\e83f'; } /* '' */
.icon-progress-7:before { content: '\e840'; } /* '' */
.icon-list:before { content: '\e841'; } /* '' */
.icon-right-circle:before { content: '\e842'; } /* '' */
.icon-font:before { content: '\e843'; } /* '' */
.icon-up-circle:before { content: '\e844'; } /* '' */
.icon-list-numbered:before { content: '\e845'; } /* '' */
.icon-indent-left:before { content: '\e846'; } /* '' */
.icon-down-dir:before { content: '\e847'; } /* '' */
.icon-right-dir:before { content: '\e848'; } /* '' */
.icon-indent-right:before { content: '\e849'; } /* '' */
.icon-cloud:before { content: '\e84a'; } /* '' */
.icon-down-micro:before { content: '\e84b'; } /* '' */
.icon-up-micro:before { content: '\e84c'; } /* '' */
.icon-terminal:before { content: '\e84d'; } /* '' */
.icon-facebook-rect:before { content: '\e84e'; } /* '' */
.icon-cw-circle:before { content: '\e84f'; } /* '' */
.icon-arrows-cw:before { content: '\e850'; } /* '' */
.icon-twitter-bird:before { content: '\e851'; } /* '' */
.icon-vimeo-rect:before { content: '\e852'; } /* '' */
.icon-updown-circle:before { content: '\e853'; } /* '' */
.icon-target:before { content: '\e854'; } /* '' */
.icon-tumblr-rect:before { content: '\e855'; } /* '' */
.icon-googleplus-rect:before { content: '\e856'; } /* '' */
.icon-signal:before { content: '\e857'; } /* '' */